<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="layout/main.html">
<body>
<div layout:fragment="content">
    <div class="container">
        <form action="/application/add" method="post">
            <div class="mb-3">
                <label for="nameField" class="form-label">ФИО:</label>
                <input name="userName" type="text" class="form-control" id="nameField">
            </div>

            <div class="mb-3">
                <label for="courseField" class="form-label">Курс:</label>
                <input name="courseName" type="text" class="form-control" id="courseField">
            </div>

            <div class="mb-3">
                <label for="phoneField" class="form-label">Телефон:</label>
                <input name="phone" type="text" class="form-control" id="phoneField">
            </div>

            <div class="form-floating">
                    <textarea name="commentary" class="form-control" placeholder="Leave a comment here"
                              id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Комментарии:</label>
            </div>
            <button type="submit" class="btn btn-primary">Добавить заявку</button>
        </form>
    </div>
</div>
</body>
</html>